.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px 15% 40px;
  flex: 1;
  height: 100%;
}

.title {
  margin-bottom: 20px;
}

.headline {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}