@import "./src/constants/colors";

.bins {
  display: flex;
  width: 100%;
  gap: 20px;
}

.btn {
  flex: 2;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  padding: 10px 10px;
  background-color: #fff;
  border: 1px solid rgba($grey, 0.3);
  border-radius: 25px;
  flex: 1;

  & .num {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}
