@import "./src/constants/colors";

.searchLb {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
}

.input {
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  outline: none;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  caret-color: #666666;
  border-radius: 15px;

  &::placeholder {
    color: #7b8e98;
  }
}

.search {
  border-radius: 25px;
  border: 1px solid #666666;
  outline: none;

  &:focus {
    background: #FFFFFF;
    border: 1px solid #66666640;
  }
}


.modal {
  border-radius: 15px;
  border: 1px solid #666666;
  outline: none;

  &:focus {
    background: #FFFFFF;
    border: 1px solid $darkBlue;
  }
}


.btnClose {
  position: absolute;
  top: 13px;
  right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}