.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.productWrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
