@import "./src/constants/colors";

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px 15% 40px;
  flex: 1;
  height: 100%;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  & .btn {
    font-size: 14px;
    font-weight: 400;
    color: $grey;
  }
}

.btn {
  font-size: 15px;
  font-weight: 800;

  &:hover {
    color: $darkBlue;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 28px;
}

.paragraph {
  color: $grey;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
