@import "./src/constants/colors";

.sort {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(93, 138, 255, 0.05), 0 8px 16px rgba(93, 138, 255, 0.20);
  background: $white;
  margin-bottom: 40px;
  gap: 15px;
}

.btn {
  transition: margin-top 200ms;

  &:hover {
    color: $violet;
    margin-top: -3px;
  }
}
