.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  width: 355px;
  height: 50px;

  &:hover {
    color: #ffe440;
    transition: .3s;
  }
}

.btnFilled {
  background: #ffe44d;
  border-radius: 55px;
}

.btnText {
}

.btnClose {
  position: absolute;
  top: 13px;
  right: 20px;
}

.link {

  &:hover {
    color: #ffe440;
    transition: .3s;
  }
}
