@import "./src/constants/colors";
$blue60: #003bff33;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 30px;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 5px 2px $blue inset;
}
.loader:after {
  box-shadow: 0 2px 0 $black inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}
