@import "./src/constants/colors";

.titleWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title {
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  flex: 1;
  color: #000000;
}

.close {
  position: absolute;
  top: -15px;
  right: -15px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 17px;
}

.btnText {
  color: $grey;

  &:hover {
    color: $darkBlue;
  }
}

.image {
  width: 600px;
  height: 600px;
  object-fit: contain;
  border-radius: 10px;
  margin: 0 auto;
}
