@import "./src/constants/colors";

.delivery {
  display: flex;
  background-color: rgba($blue, 0.2);
  border-radius: 12px;
  padding: 12px;
  align-items: flex-start;
  width: 310px;
}

.delivery:not(.delivery:last-child) {
  margin-top: 25px;
  margin-bottom: 8px;
}

.title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 0;
}

.conditions {
  margin-left: 12px;
  width: 275px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.text:not(.text:last-child) {
  margin-bottom: 8px;
}

.bold {
  font-weight: 700;
}