$blue: #5d8affde;
$darkBlue: #4568BF;
$colorHoverBgBtn: #fdffbe;
$yellow:#FFE44D;
$darkYellow: #FFAA0D;
$black: #1A1A1A;
$violet: #7B4FFF;
$red: #e14981;
$white: #ffffff;
$grey: #7b8e98;
$lightGrey: #eceff1;
