@import "./src/constants/colors";

.container {
  display: block;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  column-gap: 10px;

  .back{
    font-size: 14px;
    font-weight: 400;
    color: $grey;
  }

  .btn {
    font-size: 15px;
    font-weight:800;

    &:hover {
      color: $darkBlue;
    }
  }

  .editBtn {
    margin-left: auto;
  }

}

.title {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 28px;
}

.rateInfo {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.art {
  color: $grey;
}

.reviews {
  color: $darkBlue;
  text-decoration-line: underline;

  &:hover {
    color: $blue;
  }
}

